pandas
numpy
bs4
selenium
black
pylint
mypy
aiohttp
requests
webdriver-manager
pymysql
boto3
configparser
faker
undetected_chromedriver
fake_useragent
konlpy
JPype1
selenium-stealth
pydantic
pydantic-settings
setuptools