numpy
pandas

black
mypy
configparser
setuptools
faker
fake_useragent

aiohttp
requests

konlpy
JPype1

apache-airflow
apache-airflow-providers-mysql
pymysql
boto3


pydantic
pydantic-settings

bs4
selenium
selenium-stealth
undetected-chromedriver
webdriver-manager
